/*Variables*/

:root {
  --basic-background: #F2F2F2;
  --basic-extra-dark: #293449;
  --basic-grey: #32425C;
  --basic-greylight: #C5C5C5;
  --basic-extra-greylight: #B5B5B5;
  --basic-greylight-opacity-03:rgba(197, 197, 197, 0.3);
  --basic-red: #EE3643;
  --special-darkred: #CA2C37;
  --basic-darkred:  #BA2732;
  --basic-green: #63A63E;
  --basic-green-shadow: #367315;
  --basic-black: #000000;
  --basic-white: #ffffff;
  --basic-white-opacity-05: rgba( 255,255,255, 0.5);
  --basic-white-opacity-03: rgba( 255,255,255, 0.3);
  --basic-black-opacity-025: rgba(0, 0, 0, 0.25);
  --basic-black-opacity-015: rgba(0, 0, 0, 0.15);
  --basic-extra-lightgrey: #F3F7F9;
  --basic-shadow-lightgrey:#CFCFCF;
  --special-lightgrey-background: #F4F4F4;
  --special-grey: #3D546F;
  --special-extra-dark: #1D2739;
  --special-background: #F9F5F0;
  --special-greylight: #A9A9A9;
  --special-toggle-greaylight: #ABABAB;
  --special-greylight-opacity-03:rgba(169, 169, 169, 0.3);
  --special-greenlight: #5FBB2D;
  --special-border-greenlight: #00c873;
  --special-greendark: #518534;
  --special-warmgrey: #F7F3EC;
  --special-border-grey: #E5E5E5;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-violet: #DC91D8;
  --special-green: #8ED78F;
  --special-extra-navy: #212A3A;
  --special-extra-greylight: #EAEAEA;
  --test-color: #405069;
  --special-border-greylight: #D7DCDE;
}

.container  {
  display: flex;
  width: 940px;
  margin: 0 auto;
  padding: 0 0;
  flex-wrap: wrap ;
}

 .page {
    height: 100%;
}

/*Global*/

.page-body {
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color:  var(--basic-background);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.services-menu__credit-text h2,
.title-main,
.services-menu__credit-text p,
.services-menu__guarantee-text h2,
.services-menu__guarantee-text p,
.services-menu__ship-text h2,
.services-menu__ship-text p,
.company-wrapper h2,
.contacts h2,
.contacts p,
.feedback p,
.devs p,
.title,
.before-discount,
.actual-price,
.shipping-info,
.rights p,
.plate-title,
.plate-perfs__title,
.plate-perfs__description,
.label-new h4,
.feedback-form p,
.modal-add-to-cart__buttons  {
  margin: 0;
}

.user-navigation-sub__menu,
.sorting,
.social-list,
.user-navigation,
.site-navigation,
.breadcrumbs,
.manufacturers ul,
.battery-type ul,
.index-grid,
.services-menu,
.shipping-company,
.footer-navigation,
.category,
.login-field {
  margin: 0;
  padding: 0;
  list-style: none;
}

header,
.services {
  background-color: var(--basic-extra-lightgrey);
 }

main {
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.logo-top {
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
  min-width: 220px;
  height: 47px;
}

.logo-top:active {
  background-color: var(--basic-darkred);
}

.logo-top img {
  padding-left: 55px;
  padding-top: 12px;
}

.header-top {
  height: 42px;
 }

.form-block {
  min-width: 270px;
  height: 42px;
  position: relative;
 }

 .shopping-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 150px;
}

/*header-middle*/
.header-middle {
  padding-top: 16px;
  display: flex;
  padding-bottom: 40px;
}

.phone {
  color: var(--basic-red);
  position: relative;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 40px;
  border: 3px solid var(--basic-white);
  padding-left: 30px;
}

.phone::before {
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  left: 35px;
}

.title-main {
  width: 270px;
  padding-top: 27px;
  padding-left: 30px;
  margin-right: 20px;
}

.user-navigation-sub__menu {
  padding-left: 95px;
  padding-top: 4px;
}

.user-navigation-sub__menu li {
  display: inline;
  list-style-type: disc;
}

.unsub2 {
  padding-left: 28px;
  list-style-type: circle;
  position: relative;
}

.unsub2::before {
  position: absolute;
  content: "";
  border: 1px solid var(--basic-grey);
  background-color: var(--basic-grey);
  border-radius: 50%;
  width: 3px;
  height: 3px;
  left: 10px;
  top: 10px;

}

.login-field {
  background-color: var(--basic-white);
  height: 45px;
  display: flex;
  min-width: 300px;
  margin-top: 29px;
  justify-content: flex-end;
  align-items: center;
  margin-left: 50px;
}

.login-field__username {
  position: relative;
}

.login-field__user-icon {
  margin-right: 23px;
  margin-top: 8px;
}

.login-field__logout {
  margin-left: 17px;
  padding-right: 17px;
  margin-top: 10px;
}

.login-field__logout svg:hover path,
.login-field__user-icon svg:hover path  {
  fill:var(--special-grey);
}

.login-field__logout svg:active path,
.login-field__user-icon svg:active path  {
  fill:var(--basic-greylight);
}

.login-field li  {
    display: inline-block;
    vertical-align: middle;
}

.contacts-group {
    width: 270px;
    padding-top: 30px;
}

.address{
  padding-top: 2px;
  padding-left: 10px;
}

.user-navigation {
  display: flex;
  width: 281px;
  min-height: 45px;
  padding-top: 30px;
  /* justify-content: flex-end; */
  margin-left: 67px;
}

.user-navigation li {
  background-color: var(--basic-white);
}

.user-navigation__signup {
  width: 100px;
  display: flex;
  align-items: center;
  padding-left:21px;
  margin-right: 12px;
}

.user-navigation__signup-link{
  margin-left: 7px;
}

.user-navigation__registration {
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-top {
  background-color: var(--basic-extra-dark);
}

.search {
  background-color: var(--basic-extra-dark);
  line-height: 24px;
  width: 100%;
  min-height: 42px;
  border: none;
  outline: none;
  padding-left: 42px;
  position: relative;
}

.search-icon {
  position: absolute;
  left: 17px;
  top: 12px;
  opacity: 0.3;
}

.search-icon:hover {
  opacity: 1;
}

.search-icon:active {
  opacity: 0.3;
}

.form-block:hover::before {
    opacity: 1;
}

.form-block:active::before {
    opacity: 0.5;
}

input.search:focus + label>svg>path {
  fill: var(--basic-red);
}

input.search:focus + label>svg {
  opacity: initial;
}

.search:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.filter-button {
  margin-top: 20px;
  width: 220px;
  height: 38px;
  background-color: white;
  border: 1px solid var(--special-border-grey);
}

.form-block input::-webkit-input-placeholder ,
.footer-contacts *,
.footer-navigation a,
.footer-bot p,
.shopping-bar ,
.site-navigation a,
.actual-price,
.buy,
.more-company,
.lost-butt,
.popular-product a ,
.category-plate h2,
.category-plate a,
.services-menu__credit-text a,
.plate-perfs__description,
.feedback-button,
.modal-add-to-cart__buttons a {
  color: var(--basic-white);
}

::-moz-placeholder {
  opacity: 1;
  color: var(--basic-white);
}

.footer-navigation,
.main-navigation,
.footer-top,
.footer-middle {
  background-color: var(--basic-grey);
}

.category,
.footer-navigation,
.site-navigation,
.breadcrumbs,
.sorting li,
.item-list,
.social li {
  list-style: none;
}

.user-navigation a,
.login-field a,
.shipping-company a,
.sorting li,
.sorting a:hover,
.item-title,
.page-navigation a,
.breadcrumbs a  {
  color: var(--basic-black);
}

.main-navigation a:hover {
  background-color: var(--special-grey);
}

.footer-navigation a:hover,
.category a:hover,
.footer-feedback a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.category a:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-feedback a:active {
  color: var(--basic-red);
  text-decoration: none;
}

.main-navigation a:focus {
  background-color: var(--special-extra-dark);
  opacity: 0.5;
}

.header-middle h1,
.header-middle p {
  color: var(--basic-red);
  font-weight: 400;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
}

.address {
  color: var(--basic-extra-dark);
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation a,
.login-field a {
  font-size: 21px;
  line-height: 21px;
}

.user-navigation-sub a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-grey);
}

.user-navigation-sub a:hover,
.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:focus,
.login-field a:focus,
.user-navigation-sub a:focus {
  color: var(--basic-greylight);
}

.company,
 .contacts {
  background-color: var(--basic-white);
}

/*site-navigation*/

.site-navigation {
  display: flex;
  min-height: 60px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 26px;
}

.site-navigation li {
  flex-grow: 1;
}

.site-navigation a {
  display: inline-block;
  padding: 18px 28px;
  vertical-align: middle;
}

.main-navigation {
  margin-bottom: 60px;
}

/* catalog */
.breadcrumbs {
  width:100%;
  min-height: 60px;
  display: flex;
}

.breadcrumbs li {
  vertical-align: middle;
  margin-right: 41px;
  position: relative;
  height: 100%;
  padding-top: 20px;
}

.breadcrumbs li::after {
  position: absolute;
  content: "";
  width: 8px;
  height: 12px;
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  right: -23px;
  top: 25px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs__current::after{
  display: none;
}

.title-wrapper {
  width: 100%;
}

.title {
  padding-left: 30px;
  padding-top: 28px;
}

.filter {
  width: 220px;
  padding-bottom: 60px;
}

.filter h2 {
  margin-top: 18px;
  height: 28px;
  width:200px;
  padding-top: 10px;
  background-color: var(--special-warmgrey);
  padding-left: 18px;
  border-radius: 5px;
}

.price {
  padding:0;
  margin-bottom: 25px;
}

.sorting-title {
  display: inline-block;
  padding-left: 22px;
  padding-right: 134px;
  vertical-align: middle;
}

.manufacturers,
.battery-type {
  margin-top: 15px;
  padding: 0px;
}

.manufacturers ul {
  margin-top: 15px;
}

.battery-type ul {
  margin-top: 25px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 30px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-greylight);
  left: -33px;
  top: -3px;
  border-radius: 3px;
}

.filter-input-checkbox + label:hover:before,
.filter-input-radio + label:hover:before {
  border-color:var(--basic-extra-greylight);
}

.filter-input-checkbox + label:disabled:before {
  border-color:var(--basic-extra-greylight);
  opacity: 0.3;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  left: -33px;
  top: -3px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filter-input-checkbox:checked+ label:hover::after {
  background-image: url("../img/checkbox-on-hover.svg");
}

.filter-input-checkbox:checked+ label:disabled::after {
  background-image: url("../img/checkbox-on-hover.svg");
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  border: 2px solid var(--basic-greylight);
  left: -33px;
  top: -3px;
  border-radius: 50%;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  left: -26px;
  top: 4px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
}

.filter-input-radio:checked + label:hover::after {
  background-color: var(--basic-extra-greylight);
}

.filter-input-radio:checked + label:disabled::after {
  background-color: var(--basic-extra-greylight);
  opacity: 0.3;
}


.sorting-wrapper {
  width: 700px;
  height: 38px;
  margin-top: 18px;
  background-color: var(--special-warmgrey);
  border-radius: 5px;
}

.sorting {
  display: inline-block;
  vertical-align: middle;
}

.sorting li {
  display: inline;
  padding-right: 65px;
}

.sorting :nth-child(4) {
  padding-right: 0;
}

.sorting :nth-child(5) {
  padding-right: 0;
}

.sort-cat-wrap {
  width: 700px;
  margin-left: 18px;
}

.grid {
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-gap: 19px;
  justify-content: end;
  margin-top: 28px;
}

.index-grid {
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-gap: 20px;
  justify-content: end;
  margin-top: 20px;
  margin-bottom: 10px;
}

.popular-manufacturer {
  margin-bottom: 69px;
}

.popular-manufacturer li {
  height: 145px;
}

.popular-manufacturer li:hover {
  filter: drop-shadow(0px 4px 20px var(--basic-black-opacity-015));
}

.popular-manufacturer li:active {
  opacity: 0.5;
}


/* category-plate */

.category-plate li {
  min-width: 300px;
  min-height: 123px;
}

.plate-materials {
  position: relative;
  grid-area: materials;
  background-color: var(--special-yellow);
}

.plate-materials::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-1.svg");
  width: 44px;
  height: 65px;
  background-repeat:no-repeat;
  top: 31px;
  left: 213px;
}

.plate-instr {
  position: relative;
  grid-area: instr;
  background-color: var(--special-blue);
}

.plate-instr::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-2.svg");
  width: 75px;
  height: 61px;
  background-repeat:no-repeat;
  top: 35px;
  left: 195px;
}

.plate-tech {
  position: relative;
  grid-area: tech;
  background-color: var(--special-violet);
}

.plate-tech::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-3.svg");
  width: 78px;
  height: 62px;
  background-repeat: no-repeat;
  top: 32px;
  left: 191px;
}

.plate-perfs {
  grid-area: perfs ;
  position: relative;
}

.plate-perfs__button-left{
  position: absolute;
  content: "";
  width: 21px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-left.svg");
  top: 122px;
  left: 25px;
}

.plate-perfs__button-right {
  position: absolute;
  content: "";
  width: 21px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../img/icon-right.svg");
  top: 123px;
  right: 24px;
}



.plate-discount {
  position: relative;
  grid-area: discount;
  background-color: var(--special-green);
}

.plate-discount::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-4.svg");
  width: 59px;
  height: 72px;
  background-repeat:no-repeat;
  top: 26px;
  left: 196px;
}

.plate-ship {
  position: relative;
  grid-area: ship;
  background-color: var(--special-yellow);
}

.plate-ship::after {
  content: "";
  position: absolute;
  background-image: url("../img/icon-5.svg");
  width: 78px;
  height: 63px;
  background-repeat:no-repeat;
  top: 31px;
  left: 192px;
}

.category-plate {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  grid-template-areas:
  "materials instr tech "
  "perfs perfs discount"
  " perfs perfs ship" ;
  margin-top: 59px;
}

.popular-product {
  display:flex;
  justify-content: space-between;
  width: 100%;
  min-height: 89px;
  background-color: var(--basic-background);
  margin-top: 59px;
  align-items: center;
}

.popular-product a {
  height: 38px;
  margin-right: 17px;
  min-width: 192px
}

.popular-product h2 {
  margin-left: 28px;
}

.gridit {
  height: 316px;
  position: relative;
  border: 1px solid var(--special-extra-greylight);

}

.it1 li:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.label-new {
  border-bottom: 31px solid var(--basic-red);
  border-left: 31px solid transparent;
  border-right: 30px solid transparent;
  height: 0;
  top: 5px;
  right: -27px;
  width: 35px;
  transform: rotate(45deg);
  position: absolute;
}

.label-new h4 {
  padding-top: 8px;
  padding-left: 5px;
}

.gridit>img {
  width: 194px;
  height: 164px;
  object-fit: scale-down;
}

.gridit h3 {
  text-align: center;
  margin-left: 17px;
  margin-right: 15px;
  margin-bottom: 10px;
  margin-top: 6px;
}

.before-discount {
  margin-left: 78px;
  height: 18px;
  margin-top: 8px;
  margin-bottom: 13px;
}

.actual-price {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-transform: uppercase;
  background-color: var(--basic-red);
  width: 120px;
  height: 38px;
  margin-bottom: 21px;
  margin-left: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 3px 0 0 3px;
}

.actual-price::after {
  content: "";
  position: absolute;
  right: -19px;
  width: 0;
  height: 0;
  border-top: 19px solid transparent;
  border-left: 19px solid var(--basic-red);
  border-bottom: 19px solid transparent;
}

.index-columns {
  display: flex;
  width: 940px;
  margin: 0 auto;
  margin-bottom: 70px;
  padding-top: 72px;
}

.company {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin-right:180px;
}

 .contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.services {
  padding-bottom: 100px;
}

.services__container {
  margin-bottom: 59px;
}

.services__container h2 {
  margin-top: 65px;
  margin-bottom: 11px;
}

.services__container p {
  margin-right: 535px;
  margin-top: 13px;
}

.services-menu {
  margin-right: 80px;
  min-width: 240px;
  display: flex;
  flex-direction: column;
}

.services-menu__item {
  height: 61px;
  display: flex;
  align-items: center;
  padding-left: 22px;
  font-weight: 700;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--basic-grey);
  box-shadow: 0px 1px 0px var(--basic-extra-dark), inset 0px 1px 0px var(--test-color);
}

.services-menu li:hover {
  background-color: var(--special-extra-dark );
}

.services-menu__ship-text,
.services-menu__guarantee-text,
.services-menu__credit-text {
  width: 620px;
}



/* ship-text */

.services-menu__ship-text  {
  position: relative;
}

.services-menu__ship-text h2 {
  margin-bottom: 29px;
}

.services-menu__ship-text::before {
  content: "";
  background-image: url("../img/service-shipping.png");
  width: 468px;
  height: 261px;
  right: 0px;
  top: 20px;
  background-repeat: no-repeat;
  position: absolute;
}

.services-menu__ship-text :nth-child(2) {
  margin-right: 340px;
}

.services-menu__credit-text::before {
  content: "";
  background-image: url("../img/service-credit.png");
  width: 465px;
  height: 285px;
  right: -12px;
  background-repeat: no-repeat;
  position: absolute;
}

.services-menu__ship-text :nth-child(3) {
  margin-right: 440px;
}

/* credit-text */
.services-menu__credit-text h2 {
  margin-bottom: 27px;
}

.services-menu__credit-text  {
  position: relative;
}

.services-menu__credit-text a {
  margin-top: 26px;
  margin-right: 425px;
}

/* guarantee-text */

.services-menu__guarantee-text {
  position: relative;
}

.services-menu__guarantee-text::before  {
  content: "";
  background-image: url("../img/service-guarantee.png");
  width: 389px;
  height: 283px;
  right: -8px;
  background-repeat: no-repeat;
  position: absolute;
}

.services-menu__guarantee-text h2 {
  margin-bottom: 24px;
}

.services-menu__guarantee-text p {
  margin-right: 302px;
}

.services-menu__current {
  background-color: var(--basic-white);
  color: var(--basic-grey);
}


.mart-info {
  margin: 25px 0;
}

.shipping-company {
  margin-bottom: 19px;
}

.shipping-company li {
  margin-top: 3px;
  margin-bottom: 12px;
}

.more-company,
.lost-butt,
.popular-product a,
.services-menu__credit-text a,
.feedback-button,
.modal-add-to-cart__buttons a {
  background-color: var(--basic-red);
  display: flex;
  min-height: 38px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Cuprum, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
}

.plate-button {
  display: flex;
  min-height: 38px;
  width: 135px;
  margin-left: 23px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--basic-white-opacity-03);
}

.plate-button:hover {
  background-color: var(--basic-greylight-opacity-03);
}

.plate-button:active {
  background-color: var(--special-greylight-opacity-03);
}

.plate-perfs__catalog-button {
  display: flex;
  min-height: 38px;
  width: 135px;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  position: absolute;
  min-width: 192px;
  background-color: var(--basic-red);
  bottom: 27px;
  left: 24px;
}

.plate-perfs__catalog-button:hover {
  background-color: var(--special-darkred);
}

.plate-perfs__catalog-button:active {
  background-color: var(--basic-darkred);
}

.plate-perfs__title {
  position: absolute;
  font-family: Cuprum;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  top: 22px;
  left: 25px;
}

.plate-perfs__description {
  position: absolute;
  top: 62px;
  left: 23px;
}

.more-company {
    width: 220px;
}

.lost-butt {
  width: 300px;
}

.contacts p {
  margin-top: 22px;
}

.map-pic {
  margin-top: 32px;
  margin-bottom: 22px;
}

.plate-title,
.modal-add-to-cart h2{
  font-family: Cuprum, Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
}

.plate-title {
  margin-left: 23px;
  margin-bottom: 14px;
  margin-top: 20px;
}

.contacts h2,
.company h2,
.title,
.perf-wrap h2,
.popular-product h2,
.services h2 {
  font-weight: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.contacts p,
.company p,
.perf-wrap p,
.services p {
  font-family: PT Sans,  Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
}

ul,
.shipping-company li {
  list-style-type: none;
}

.shipping-company {
  margin-left: 38px;
}

.shipping-company__del-lines,
.shipping-company__autotraiding,
.shipping-company__jeldor {
  position: relative;
}

.shipping-company__del-lines::before,
.shipping-company__autotraiding::before,
.shipping-company__jeldor::before {
  content: '';
  width: 26px;
  position: absolute;
  border-bottom: 2px solid var(--basic-red);
  left: -38px;
  top: 10px;
}

.filter label {
  font-family: PT Sans,  Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
}

.battery-type label {
  text-transform: uppercase;
}

.page-navigation {
  margin-left: 200px;
  display: flex;
  margin-top: 28px;
  margin-bottom: 60px;
}

.page-navigation li {
  min-width: 38px;
  min-height: 38px;
  border: 1px solid var(--special-border-grey);
  border-radius: 2px;
  margin-right: 8px;
}

.page-navigation a {
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-navigation li:hover {
  border-color: var(--basic-extra-greylight);
}
.page-navigation li:active {
  border: 1px solid var(--basic-red);
}

.page-navigation li:nth-child(4){
    width: 140px;
}

.page-navigation li:first-child {
  background-color: var(--basic-red);
  border: 1px solid var(--basic-red);
  border-radius: 2px;
  color: var(--basic-white);
}

/* довести кнопки до ума */
.page-navigation li:first-child a {
  color: var(--basic-white);
}

.perf-wrap {
  background-color: var(--basic-extra-lightgrey);
}

.perf-wrap h2 {
  margin-top: 64px;
  margin-bottom: 0;
}
.perf-wrap p {
  margin-top: 0;
  white-space: pre-line;
  margin-bottom: 69px;
}

.footer-middle {
  background-color: var(--basic-grey);
}

.logo-bot {
  min-height: 68px;
  min-width: 220px;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-left: 112px;
  padding-top: 23px;
}

.footer-navigation a {
  display: inline-block;
  padding: 15px 0;
  padding-left: 59px;
}

.footer-contacts {
  padding-right: 15px;
  min-width: 400px;
  padding-top: 14px;
}

.category {
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
}

.category li {
  display: inline-block;
  text-align: center;
  padding: 10px 0;
  padding-right: 58px;
}

.category :nth-child(4) {
  padding-right: 0;
}

.footer-middle {
  padding-bottom: 55px;
}

.rights {
  padding-top: 38px;
  width: 260px;
  margin-right: 130px;
}

.social-list {
  display: flex;
  margin-top: 34px;
  margin-right: 0px;
}

.social-button {
  color: var(--basic-white);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--special-extra-navy);
  border-radius: 50%;
}

.social-button:hover,
.social-button:active {
  background-color: var(--basic-red);
}

.footer-feedback {
  display: flex;
  width: 300px;
}

.feedback {
  margin-left: 120px;
  margin-right: 53px;
}

.feedback p:nth-child(1),
.devs p:nth-child(1) {
  padding-top: 31px;
  padding-bottom: 5px;
}

.footer-contacts address {
  font-style: normal;
}

.footer-bot {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-extra-dark);
  min-height: 107px;
}

.category a,
.footer-feedback a {
  color: var(--special-yellow);
}

.filter-button,
.breadcrumbs,
.filter h2,
.sorting-title,
.sorting li,
.page-navigation {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

[name="min-price"],
[name="max-price"] {
  font-family: PT Sans, Arial, sans-serif;
  line-height: 18px;
  font-size: 17px;
}

.filter legend {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.sorting__price,
.sorting_type,
.sorting__functionality {
  color: var(--basic-greylight);
  border-bottom: 1px dotted var(--basic-red);
}

.sorting__price:hover,
.sorting_type:hover,
.sorting__functionality:hover {
  border-bottom: 1px solid var(--basic-red);
}

.sorting__price:focus,
.sorting_type:focus,
.sorting__functionality:focus {
  color: var(--basic-red);
  border: none;
}

.sorting__ascending {
  position: relative;
}

.sorting__ascending::after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5px 10px 5px;
  border-color: var(--basic-greylight)  transparent;
  right: 9px;
  top: 4px;
}
.sorting__ascending:hover::after {
  border-color: var(--basic-black) transparent;
}

.sorting__ascending:active::after {
  border-color: var(--basic-red) transparent;
}

.sorting__descending {
  position: relative;
}

.sorting__descending::after {
  position: absolute;
  content:"";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5px 0px 5px;
  border-color: var(--basic-greylight) transparent;
  left: 13px;
  top: 4px;
}

.sorting__descending:hover::after {
  border-color: var(--basic-black) transparent;
}

.sorting__descending:active::after {
  border-color: var(--basic-red) transparent;
}

.item-list h3,
.gridit h3 {
  font-family: PT Sans, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.before-discount {
  color: var(--special-greylight);
  font-family: PT Sans, Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  text-decoration: line-through;
  text-transform: uppercase;
}

.price legend {
  margin-bottom: 15px;
}

fieldset {
  border: 0 none;
}

.range-controls {
  background-color: var(--special-warmgrey);
  height: 41px;
  margin-bottom: 10px;
  padding-top: 39px;
  padding-left: 20px;
  padding-right: 20px;
  position:relative;
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--special-border-greenlight);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--special-toggle-greaylight);
  box-shadow: 0 2px 1px 0 var(--basic-shadow-lightgrey);
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.filter-price {
  width: 220px;
}

.min-price {
  margin-right:30px;
  position: relative;
}

.min-price::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 1px;
  background-color: var(--basic-black);
  top: 8px;
  right: -16px;
}

.filter-price input {
  padding: 0;
  border: 0 none;
  width: 93px;
  height: 38px;
  background-color: var(--special-warmgrey);
  text-align: center;
  border-radius: 5px;
}

.scale {
  height:2px;
  background-color: var(--special-border-greylight);
}

.buying-bookmark,
.label-new h4  {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
}

.buy {
  width: 135px;
  height: 38px;
  background-color: var(--basic-green);
  border-radius: 2px;
  margin-bottom: 10px;
  box-shadow: inset 0px -3px 0px var(--basic-green-shadow);
}

.buy:hover,
.checkout:hover {
  background-color: var(--special-greenlight);
}

.buy:active {
  background-color: var(--special-greendark);
}

.shopping-bar {
  position: relative;
}

.bookmarks-header::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-bookmark.svg");
  background-position: 0 0;
  width: 14px;
  height: 16px;
  top: 13px;
  left: 19px;
  opacity: 0.3;
}

.cart::before {
  content: "";
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  background-position: 0 0;
  width: 15px;
  height: 15px;
  top: 13px;
  left: 22px;
  opacity: 0.3;
}

.bookmarks-header:active,
.cart:active {
  opacity: 0.5;
}

.checkout {
  background-color: var(--basic-green);
}

.checkout:active {
  background-color: var(--basic-green);
  color: var(--basic-white-opacity-05);
}

.cart:hover::before,
.bookmarks-header:hover::before {
  opacity: 1;
}

.title-wrapper {
  background-color: var(--basic-extra-lightgrey);
  min-height: 89px;
}

.buying-bookmark {
  flex-direction: column;
  align-items: center;
  position: absolute;
  display: flex;
  background-color: var(--basic-white);
  top:38px;
  width: 216px;
  /* display: none; */
}

.buying-bookmark a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bookmark {
  width: 131px;
  height: 34px;
  border: 3px solid var(--basic-green);
  border-radius: 2px;
  color: var(--basic-grey);
}

.bookmark:hover {
  border-color: var(--basic-grey);
}

.bookmark:active {
  opacity: 0.5;

}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-position: 0 0;
  background-repeat: repeat;
  background-color: var(--basic-white);
  border-top: 7px solid var(--basic-red);
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));

}

.modal-feedback {
  width: 620px;
  top: auto;
  bottom: 350px;
  right: 13px;
}

.modal-map {
  width: 943px;
  height: 449px;
  top: auto;
  bottom: 327px;
  left: -21px;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  border: none; outline: none;
  top: 10px;
  right: 10px;
  background-image: url("../img/icon-close.svg");
}

.feedback-form {
  display: flex;
  flex-wrap: wrap;
  padding-left: 80px;
  padding-right: 80px;
  justify-content: space-between;
  padding-top: 40px;
}

.feedback-form label {
  margin-bottom: 11px;
}

.feedback-text {
  margin-top: 13px;
}

.feedback-form p {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.feedback-form input,
.feedback-form textarea {
  border: 2px solid var(--basic-greylight);
  box-sizing: border-box;
  border-radius: 2px;
}

.feedback-form input[type="email"],
.feedback-form input[id="feedback-name"] {
  width: 220px;
  height: 38px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 9px;
}

.feedback-form textarea {
  width: 460px;
  min-height: 114px;
  resize: none;
  margin-bottom: 40px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 9px;
}

.feedback-button {
  border: 0;
  min-width: 460px;
}

.feedback-button__wrap {
  padding: 39px 80px;
  background-color: var(--special-lightgrey-background);
}

.modal-add-to-cart {
  height: 282px;
  width: 620px;
}

.modal-add-to-cart h2 {
  padding-top: 46px;
  padding-left: 179px;
  position: relative;
}

.modal-add-to-cart h2::before {
  content: "";
  position: absolute;
  width: 66px;
  height: 66px;
  background-image: url("../img/icon-mark.svg");
  left: 81px;
  top: 27px;
}

.modal-add-to-cart__buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 61px;
  background-color: var(--special-lightgrey-background);
  padding: 44px 114px;
  justify-content: space-between;
}

.modal-add-to-cart__buttons a{
  min-width: 192px;
}

.modal-add-to-cart__return a {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.gridit:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.gridit:hover > .buying-bookmark {
  display: flex;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
